<script src="/js/get-registros.js"></script>
<h2>Registros: <div id="num-registros"></div></h2>

<label for="clave">Palabra clave: </label>
<input type="password" id="clave">
<button onclick="getRegistros()">OK</button>
<br>
<div class="h-scroll">
  <table id="registros">
    <tr>
      <th>Participaci贸n</th>
      <th>Nombre</th>
      <th>Contacto</th>
      <th>Correo</th>
      <th>Zona</th>
      <th>Sede</th>
      <th>Actividades</th>
      <th>Duraci贸n</th>
      <th>Ideales</th>
      <th>Ninxs</th>
      <th>Enlace</th>
      <th>Comisi贸n</th>
      <th>Actividades</th>
      <th>Autogesti贸n</th>
      <th>Autogestival</th>
    </tr>
  </table>
</div>