<script src="/js/registrar-enlace.js"></script>
<div id="container">
  <h1>Registro Enlace</h1>

  <form class="registro-form">
  <h3>1. ¿De qué manera te(les) gustaría participar?</h3>
  <div><input type="radio" name="participacion" value="personal">Personal</div>
  <div><input type="radio" name="participacion" value="colectivx">Colectivx</div>
  <div><input type="radio" name="participacion" value="cooperativa">Cooperativa</div>
  <div><input type="radio" name="participacion" value="comunidad">Comunidad</div>

  <h3>2. Nombre del Proyecto</h3>
  <input type="text" name="nombre" id="nombre">

  <h3>3. ¿En qué estado de México vives?</h3>
  <select name="estado" id="estado">
	<option value="AGS">Aguascalientes</option>
	<option value="BCN">Baja California</option>
	<option value="BCS">Baja California Sur</option>
	<option value="CAM">Campeche</option>
	<option value="CHP">Chiapas</option>
	<option value="CHI">Chihuahua</option>
	<option value="COA">Coahuila</option>
	<option value="COL">Colima</option>
	<option value="DUR">Durango</option>
	<option value="GTO">Guanajuato</option>
	<option value="GRO">Guerrero</option>
	<option value="HGO">Hidalgo</option>
	<option value="JAL">Jalisco</option>
	<option value="MEX">Estado de México</option>
	<option value="MIC">Michoacán</option>
	<option value="MOR">Morelos</option>
	<option value="NAY">Nayarit</option>
	<option value="NLE">Nuevo León</option>
	<option value="OAX">Oaxaca</option>
	<option value="PUE">Puebla</option>
	<option value="QRO">Querétaro</option>
	<option value="ROO">Quintana Roo</option>
	<option value="SLP">San Luis Potosí</option>
	<option value="SIN">Sinaloa</option>
	<option value="SON">Sonora</option>
	<option value="TAB">Tabasco</option>
	<option value="TAM">Tamaulipas</option>
	<option value="TLX">Tlaxcala</option>
	<option value="VER">Veracruz</option>
	<option value="YUC">Yucatán</option>
	<option value="ZAC">Zacatecas</option>
</select>
  

  <h3>4. Correo electrónico (indispensable)</h3>
  <input type="text" id="correo" name="correo">

  <h3>5. Datos de contacto (persona, teléfono, canal de difusión [tw, fb, blog] )</h3>
  <textarea name="contacto" id="contacto" cols="30" rows="10"></textarea>

  <h3>6. ¿En cual de las siguientes fechas, temas y/o geografías te gustaría participar? </h3>
  <div class="nota">
    <p>Este año, enfocaremos las actividades a distinas temáticas cada día. De manera que, entre cada gremio, fortalezcamos los vínculos, desarollemos soluciones colectivas, y compartamos experiencias y metodologías, </p>
    <div class="tabla" id="ecologia">
      <h4>ECOLOGÍA Y MOVILIDAD</h4>
      <p>Es urgente un modo de vida personal y colectivo que nos detenga de dañar a nuestra querida madre tierra y a todo aquello que la habita, incluyéndonos a nosotrxs mismxs. </p>
    </div>
    <div class="tabla" id="salud">
      <h4>SALUD COMUNITARIA</h4>
      <p>Nuestros cuerpos y mentes han sido convertidos en negocio para las empresas y gobiernos, pero nuestro bienestar individual y colectivo no les pertenece, y hemos decidido recuperarlo. </p>
    </div>
    <div class="tabla" id="territorio">
      <h4>DEFENZA DEL TERRITORIO</h4>
      <p>El territorio-cuerpo-tierra se encuentra en una línea frontal de ataque cotidiano, hecho que nos obliga a organizarnos para defendernos y sobrevivir.</p>
    </div>
    <div class="tabla" id="economia" >
      <h4>ECONOMÍA AUTÓNOMA</h4>
      <p>El mercado de la especulación esta diseñado para mantener el dinero en manos de muy pocos y es practicado sin tomar en cuenta su nivel de destrucción, sin embargo nosotrxs sabemos que otras economías son posibles. </p>
    </div>
    <div class="tabla" id="patriarcado">
      <h4>DECONSTRUYENDO AL PATRIARCADO</h4>
      <p>Nuestra autonomía continúa siendo mermada por nuestras propias prácticas patriarcales, jerárgicas, machistas y paternalistas. La apuesta es construir juntxs otras formas de relacionarnos en la que todxs seamos beneficiadxs. </p>
    </div>
    <div class="tabla" id="saberes">
      <h4>SABERES Y APRENDIZAJES LIBRES</h4>
      <p>La recuperación de nuestros saberes colectivos, ancestrales y la autogestión de nuestros procesos de enseñanza-aprendizaje son parte de nuestra rebeldía ante la imposición. </p>
    </div>
    <div class="tabla" id="tianguis">
      <h4>TIANGUIS Y FIESTÓN REBELDE</h4>
      <p>La dinga indignación mantiene viva la alegría y nos permite continuar la lucha. Si no podemos gozar, ésta no es nuestra revolución. </p>
    </div>

    <p>En pro de descentralizar y convocar por cercanía, se buscaron sedes alejadas del centra hacia las 4 direcciones: Sur, Poniente, Oriente y Poniente</p>
    <p>Entendemos que por cuestiones de tiempos, algunxs participantes no podrán encajar por completo sus propuestas con las temáticas propuestas. Invitamos sin embargo, a inscribirlas ;)</p>
  </div><br>

    <div>
      <input type="checkbox" name="sede" id="reinoeco" value="reinoeco">
      <label for="reinoeco">ZONA <b>SUR</b> - <i>ECOLOGÍA Y MOVILIDAD</i></label><a href="#"></a>
    </div>
    <div><label for="reinoeco"> Reino Eco, Xochimilco. - Dom, 4 de nov</label></div><br>
    <div>
      <input type="checkbox" name="sede" id="solnaciente" value="solnaciente">
      <label for="solnaciente">ZONA <b>NORTE</b> - <i>SALUD COMUNITARIA</i> </label><a href="#"></a>
    </div>
    <div><label for="solnaciente"> Casa del Sol Naciente, Teotihuacan - Sáb, 10 de nov</label></div><br>
    <div>
      <input type="checkbox" name="sede" id="casadellago" value="casadellago">
      <label for="casadellago">ZONA <b>PONIENTE</b> - <i>DEFENSA DEL TERRITORIO</i></label><a href="#"></a>
    </div>
    <div><label for="casadellago">  Foro Abierto OPC Cleta, de la Casa del Lago, Chapultepec - Dom, 11 de nov</label></div><br>
    <div>
      <input type="checkbox" name="sede" id="miravalle" value="miravalle">
      <label for="miravalle">ZONA <b>ORIENTE</b> - <i>ECONOMÍA AUTÓNOMA</i></label><a href="#"></a>
    </div>
    <div><label for="miravalle">  Comunidad Miravalle, Iztapalapa -  Sáb, 17 nov </label></div><br>
    <div>
      <input type="checkbox" name="sede" id="banco" value="banco">
      <label for="banco">ZONA <b>NORTE</b> - <i>DECONSTRUYENDO EL PATRIARCADO</i> </label><a href="#"></a>
    </div>
    <div><label for="banco"> B.A.N.C.O Centro Cultural Autogestionado, Ecatepec -  Dom, 18 de nov</label></div><br>
    <div>
      <input type="checkbox" name="sede" id="che" value="che">
      <label for="che">ZONA <b>SUR</b> - <i>SABERES Y APREDIZAJES LIBRES</i></label><a href="#"></a>
    </div>
    <div><label for="che"> Auditorio Che, Unam  - Sáb, 24 nov </label></div><br>
    <div>
      <input type="checkbox" name="sede" id="cotantik" value="cotantik">
      <label for="cotantik">ZONA <b>ORIENTE</b> -<i>TIANGUIS Y FIESTÓN REBELDE</i></label><a href="#"></a>
    </div>
    <div><label for="cotantik"> Cotantik, Iztacalco - Dom, 25 de nov</label></div><br>

  <h3>7. ¿Con qué actividad(es) te gustaría participar? Sé detalladx y, por favor, detalla en qué sede y/o fechas</h3>
  <textarea name="actividad" id="actividad" cols="30" rows="10"></textarea>

  <h3>8. Duración</h3>
  <input type="text" name="duracion" id="duracion">

  <h3>9. Condiciones ideales (tipo de espacio, número de personas, herramientas, etc)</h3>
  <textarea name="ideales" id="ideales" cols="30" rows="10"></textarea>

  <h3>10. ¿Tienes una actividad para niñxs?</h3>
  <div class="nota">
    <p>Intentaremos que cada día haya un espacio para que lxs niñxs puedan aprender y/o colaborar mientras que su madre o padre participa en otras actividades</p>
  </div>
  <input type="text" name="ninxs" id="ninxs" placeholder="actividad">

  <h3>11. ¿Les sería indispensable apoyo para buscar dónde quedarse, cocinar y/ moverse en la ciudad?</h3>
  <div class="nota">
    <p>Intentaremos apoyar a quienes no tengan una comunidad de confianza con quien llegar, buscándoles hospedaje, comidas y moviéndose en la ciudad </p>
  </div>
  <input type="checkbox" name="enlace" id="enlace">Sí. Por favor

  <h3>12. ¿Les es posible colaborar de alguna forma?</h3>
  <textarea name="colaboración" id="colaboración" cols="30" rows="10"></textarea>


  <h3>13. ¿Qué actividades realizan en tu colectivx ?</h3>
  <textarea name="actividades" id="actividades" cols="30" rows="10"></textarea>

  <h3>14. ¿Cómo practican(s) la autogestión?</h3>
  <textarea name="autogestion" id="autogestion" cols="30" rows="10"></textarea>

  <h3>15. ¿Cuál es su(tu) principal motivación para participar en el Autogestival?</h3>
  <textarea name="autogestival" id="autogestival" cols="30" rows="10"></textarea>

  <button type="submit" id="submit">Enviar</button>
  </form>
</div>
