<script src="/js/get-enlace.js"></script>
<h2>Registros: <div id="num-registros"></div></h2>

<label for="clave">Palabra clave: </label>
<input type="password" id="clave">
<button onclick="getRegistros()">OK</button>
<br>
<div class="h-scroll">
  <table>
    <thead>
      <tr>
        <th>Participaci贸n</th>
        <th>Nombre</th>
        <th>Contacto</th>
        <th>Correo</th>
        <th>Estado</th>
        <th>Sede</th>
        <th>Actividades</th>
        <th>Duraci贸n</th>
        <th>Ideales</th>
        <th>Ninxs</th>
        <th>Hospedaje</th>
        <th>Colaboraci贸n</th>
        <th>Actividades</th>
        <th>Autogesti贸n</th>
        <th>Autogestival</th>
      </tr>
    </thead>
    <tbody id="registros">

    </tbody>
  </table>
</div>