<h3>
  ¡Hemos recibido tu registro!
</h3>
<h4>
  Te enviaremos un correo para consultar los detalles de las actividades
</h4>
  
<p>
  Puedes darle mejor seguimiento a las actividades en nuestro <a href="https://t.me/Autogestival">canal de Telegram</a> o en nuestra página de <a href="https://www.facebook.com/autogestival/">Fakebook</a>
</p>