<h1>
  Autogestival
</h1>
<h2>2018</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo assumenda accusantium aut doloremque aliquam laboriosam fugit error, corporis officiis et cumque dolore quos nesciunt sapiente est provident dignissimos eveniet vero magni architecto expedita numquam nostrum. Tenetur magnam accusantium cum fuga in ullam natus, adipisci temporibus possimus corporis esse? Ipsum, amet!</p>
<div>
  <div>
    <a href="/registro">Participo en un proyecto en la zona metropolitana y quisieramos participar en alguna actividad </a>
  </div>
  <div>
    <a href="/enlace">Participo en un proyecto fuera de la ciudad de México y me gustaría asistir y participar</a>
  </div>
  <div>
    <a href="/lista-correo">Me gustaría recibir información via correo electrónico</a>
    <a href="https://t.me/Autogestival">Sigue el canal de Telegram @autogestival</a>
    <a href="https://www.facebook.com/autogestival/">Sigue la página de Fakebook</a>
  </div>
</div>