<img src="/img/portada.jpg" alt="">
<div id="container">
  <h1>
    Autogestival - 2018</h1>
  <p>
    Invitamos a personas, organizaciones y proyectos a compartir actividades, talleres, presentaciones, etc. que celebren e inviten a la autogestión. 
  </p>
  <p>
    Autogestival es un encuentro que se desarrolla en la <b>C</b>iuda<b>D</b> <b>M</b>on<b>X</b>truo, donde celebramos la autogestión y la autonomía como un camino de vida. Desde el 2013 existe de forma libre y voluntaria con el esfuerzo de las personas que autogestionan su construcción; es decir, que para su desarrollo no pedimos recursos de ningún tipo a gobiernos, empresas, partidos políticos, iglesias, fundaciones u otros grupos de poder. 
  </p>
  <p>
    Se alimenta del compromiso por hacer, la cooperación, el apoyo mutuo y la reciprocidad. Se efectúa en diversos espacios autónomos y usa las calles como herramienta para difundir por medio de la acción y el diálogo.
  </p>
  <p>
    En este encuentro se tejen relaciones diferentes basadas en la amistad y la confianza. Se comparten talleres, charlas, eventos artísticos y culturales. Cabe de todo: oficios, medios libres de comunicación, música, cine, productos y servicios autogestionados, actividades físicas, saberes comunitarios, rebeldía, la destrucción del patriarcado y mucha honestidad.
  </p>
  <p>
    Para poder organizarnos, les invitamos a compartirnos sus saberes y propuestas por medio de alguno de los siguientes formularios:
  </p>
  <div id="links">
    <div>
      <a href="/registro">Participamos en un proyecto autogestivo <b>DENTRO</b> de la <b>C</b>iuda<b>D</b> <b>M</b>on<b>X</b>truo y quisieramos participar en alguna actividad </a>
    </div>
    <div>
      <a href="/enlace">Participamos en un proyecto autogestivo <b>FUERA</b> de la <b>C</b>iuda<b>D</b> <b>M</b>on<b>X</b>truo y nos(me) gustaría asistir y participar</a>
    </div>
  </div>
</div>