<script src="/js/registrar.js"></script>

<h1>Registro</h1>

<p></p>

<h3>1. ¿De qué manera te(les) gustaría participar?</h3>
<div><input type="radio" name="participacion" id="participacion" value="personal">Personal</div>
<div><input type="radio" name="participacion" id="participacion" value="colectivx">Colectivx</div>
<div><input type="radio" name="participacion" id="participacion" value="cooperativa">Cooperativa</div>
<div><input type="radio" name="participacion" id="participacion" value="comunidad">Comunidad</div>

<h3>2. Nombre del Proyecto</h3>
<input type="text" name="nombre" id="nombre">

<h3>3. En qué zona del área metropolitana realizan(s) sus actividades</h3>
  <div><input type="checkbox" name="zona" id="zona" value="sur">Sur</div>
  <div><input type="checkbox" name="zona" id="zona" value="norte">Norte</div>
  <div><input type="checkbox" name="zona" id="zona" value="oriente">Oriente</div>
  <div><input type="checkbox" name="zona" id="zona" value="poniente">Poniente</div>
  <div><input type="checkbox" name="zona" id="zona" value="nomada">Nómada o Itinerante</div>
  <div><input type="checkbox" name="zona" id="zona" value="internet">Internet</div>

<h3>4. Datos de contacto (persona, teléfono, correo o canal de difusión)</h3>
<textarea name="contacto" id="contacto" cols="30" rows="10"></textarea>

<h3>5. ¿En cual de las siguientes fechas, temas y/o geografías te gustaría participar? </h3>
  <div><input type="checkbox" name="sede" id="sede" value="reinoeco">ZONA <b>SUR</b> - <i>ECOLOGÍA Y MOVILIDAD</i></div>
  <div> Reino Eco, Xochimilco. - Dom, 4 de nov</div><br>
  <div><input type="checkbox" name="sede" id="sede" value="solnaciente">ZONA <b>NORTE</b> - <i>SALUD COMUNITARIA</i> </div>
  <div> Casa del Sol Naciente, Teotihuacan - Sáb, 10 de nov</div><br>
  <div><input type="checkbox" name="sede" id="sede" value="casadellago">ZONA <b>PONIENTE</b> - <i>DEFENSA DEL TERRITORIO</i></div>
  <div>  Foro Abierto OPC Cleta, de la Casa del Lago, Chapultepec - Dom, 11 de nov</div><br>
  <div><input type="checkbox" name="sede" id="sede" value="miravalle">ZONA <b>ORIENTE</b> - <i>ECONOMÍA AUTÓNOMA</i></div>
  <div>  Comunidad Miravalle, Iztapalapa -  Sáb, 17 nov </div><br>
  <div><input type="checkbox" name="sede" id="sede" value="banco">ZONA <b>NORTE</b> - <i>DECONSTRUYENDO EL PATRIARCADO</i> </div>
  <div> B.A.N.C.O Centro Cultural Autogestionado, Ecatepec -  Dom, 18 de nov</div><br>
  <div><input type="checkbox" name="sede" id="sede" value="che">ZONA <b>SUR</b> - <i>SABERES Y APREDIZAJES LIBRES</i></div>
  <div> Auditorio Che, Unam  - Sáb, 24 nov </div><br>
  <div><input type="checkbox" name="sede" id="sede" value="cotantik">ZONA <b>ORIENTE</b> -<i>TIANGUIS Y FIESTÓN REBELDE</i></div>
  <div> Cotantik, Iztacalco - Dom, 25 de nov</div><br>

<h3>6. ¿Con qué actividad te gustaría participar? Sé detalladx</h3>
<textarea name="actividad" id="actividad" cols="30" rows="10"></textarea>

<h3>7. Duración</h3>
<input type="text" name="duracion" id="duracion">

<h3>8. Condiciones ideales (tipo de espacio, número de personas, herramientas, etc)</h3>
<input type="text" name="ideales" id="ideales">

<div class="nota">
  <p>Intentaremos que cada día haya un espacio para que lxs niñxs puedan aprender y entreterse mientras que su madre o padre participa en otras actividades</p>
</div>
<h3>9. Tienes una actividad para niñxs</h3>
<input type="text" name="ninxs" id="ninxs">

<div class="nota">
  <h4>El autogestival se organiza con la fuerza y voluntado de las personas y los proyectos participantes. Nos organizamos en una asamblea general y luego nos dividimos en comisiones</h4>

  <ul>
    <li><b>Logística</b>: esta comisión se dedica a recibir las propuestas, planear, coordinar y resolver los asuntos relacionados con las actividades que se llevan a cabo durante el autogestival</li>
    <li><b>Difusión</b>: esta comisión se encarga de generar y hacer públicos los materiales visuales para dar a conocer las actividades que realizamos</li>
    <li><b>Memoria</b>: su labor es recopilar los registros y documentar pad actividades que se realizadas en los encuentros</li>
    <li><b>Alimentos</b>: encargadxs de conseguir, transportar, cocinar y dar amor a los alimentos que consumimos en las jornadas</li>
    <li><b>Enlace</b>: esta comisión se encarga de conectar con los cuates de provincia y otros países y latitudes para ayudarles a coordinar su venida a las jornadas, apoyarles con la coordinación de su viaje y estancia</li>
  </ul>
</div>

<h3>10. ¿Les(te) gustaría participar en alguna comisión?</h3>
<div><input type="checkbox" id="comision" name="comision" value="logistica">Logística</div>
<div><input type="checkbox" id="comision" name="comision" value="difusion">Difusión</div>
<div><input type="checkbox" id="comision" name="comision" value="memoria">Memoria</div>
<div><input type="checkbox" id="comision" name="comision" value="alimentos">Alimentos</div>
<div><input type="checkbox" id="comision" name="comision" value="enlace">Enlace</div>
<div><input type="checkbox" id="comision" name="comision" value="otra">No tenemos(go) disponibilidad de participar en una comisión, pero me gustaría colaborar el día del evento</div>

<h3>11. ¿Qué actividades realizan en tu colectivx ?</h3>
<textarea name="actividades" id="actividades" cols="30" rows="10"></textarea>

<h3>12. ¿Cómo practican(s) la autogestión?</h3>
<textarea name="autogestion" id="autogestion" cols="30" rows="10"></textarea>

<h3>13. ¿Cuál es su(tu) principal motivación para participar en el Autogestival?</h3>
<textarea name="autogestival" id="autogestival" cols="30" rows="10"></textarea>

<button onclick="registrar()">Enviar</button>